html {font-size: 100%;}
body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin: 0;
  padding: 0;
}
main {
  display: flex;
  margin-top: 2%;
  flex-wrap: wrap;

}

}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.625rem;
  color: red;
  font-weight: 700;
  line-height: 1.1;
}
.header nav {

  display: flex;
  flex-wrap: wrap;
  margin-left: 350px;
  font-size: 20px;
  width: 85%;
}

.header nav ul li {
  display: inline;
  padding: 10px;
}
}
.surf-report {
  background-image: url("./images/image_1.png");
  width: 600px;
  height: 100px;
}
.led-wall {
  background-image: url("./images/image_2.png");
  width: 250px;
  height: 100px;
}
.calculator {
  position: absolute;
  left: 300PX;
  background-image: url("./images/image_3.png");
  color:blanchedalmond;
  width: 250px;
  height: 100px;
}
.pastel-puzzels {
  background-image: url("./images/image_4.png");
  width: 250px;
  height: 100px;
}
.run-buddy {
  background-image: url("./images/image_5.png");
  position: absolute;
  left: 300PX;
  top: 240PX;
  width: 250px;
  height: 100px;
}
.surf-report:hover {
  color: blue;}

.led-wall .calculator {
  position:absolute;
}
.page-tittle {
  width: 25%;
  display:ruby
  margin-left: 25px;
}
main {
  display: flex;
  flex-direction: row;
  margin-top: 2%;
  padding: 10px;
  background-color: lawngreen;
}